# Managed by Ansible

# local access
local   all             postgres                                peer
local   all             all                                     peer

# loopback
host    all             all             127.0.0.1/32            scram-sha-256
host    all             all             ::1/128                 scram-sha-256

# application access from allowed clients
